@using RecruitmentSystemBusiness
@model List<CandidateModel>
@{
    ViewBag.Title = "Searchskills";
    Layout = null;
}
<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>College</th>
                <th>Branch</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        <a href="@Url.Action("CandidateDetails", "Admin", new { id = item.Id })">@item.Name</a>
                    </td>
                    <td>
                        @item.College
                    </td>
                    <td>
                        @item.Branch
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

